body {
  text-align: center;
}

#logo {
  height: 15%;
  width: 15%;
}

#welcome {
  font-size: 30px;
  margin-top: -70px;
}

#linking > div {
  padding: 5px 0px 10px 0px;
}

#linking > input {
  width: 250px;
  padding: 8px;
}

#linking > button {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#linking > button:hover {
  font-weight: bolder;
}

#unlink {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#stats {
  margin-top: 30px;
  font-size: 25px;
}

#stats > div {
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 50px;
  font-size: 15px;
}

#social-media > a {
  text-decoration: none;
  padding: 5px;
}

#social-media > a:hover {
  text-decoration: none;
  padding: 5px;
}
